.fullHeight {
	height: 100vh;
}

.centered {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonWrapper {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 14px;
}

.error {
	color: red;
	margin-top: 16px;
}
