.fullHeight {
	height: 100vh;
}

.fullWidth {
	width: 100%;
}

.overflow {
	width: 100%;
	height: calc(100vh - 116px);
	overflow: auto;
}

.movieCover {
	border-radius: 9px;
	width: 100%;
	max-height: 350px;
	object-fit: cover;
}

.movieCoverWrapper {
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	max-height: 350px;
}

.movieOverlay {
	transition: all ease 0.5s;
	border-radius: 9px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000bb;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
}

.movieWrapper:hover .movieOverlay {
	opacity: 1;
	visibility: visible;
}

.movieOverlay:hover {
	opacity: 1;
}

.title {
	font-size: 22px;
}

.year {
	font-size: 15px;
	margin: 0px;
}

.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 16px;
}

.movieWrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.rating {
	margin: 0px;
	font-size: 15px;
	margin-left: 6px;
}

.category {
	margin: 0px;
	font-size: 35px;
}

.ratingWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search {
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}

.mainWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: 5px;
}

.upcomingWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.buttonText {
	margin: 0px;
}

.play {
	font-size: 50px;
	cursor: pointer;
	margin-bottom: 25px;
	color: #eeeeee;
}

.details {
	cursor: pointer;
}

.movieListWrapper {
	min-width: calc(100% + 30px);
}

.recentlyAddedWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.searchForm {
	width: 100%;
	padding-top: 14px;
}

.subtitleWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.noSubtitles {
	user-select: none;
	cursor: pointer;
}

.noSubtitles.selected {
	cursor: auto;
}

.smallLoaderWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filtersWrapper {
}
