.cover {
	width: 100%;
	border-radius: 9px;
}

.coverContainer {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleLarge {
	font-size: 50px;
}

.yearContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.yearLarge {
	font-size: 25px;
	margin: 0px;
}

.ratingLarge {
	margin: 0px;
	font-size: 25px;
	margin-left: 6px;
}

.movieStuffContainer {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}

.playButtonContainer {
	width: 100%;
	margin-bottom: 20px;
}

.playText {
	margin-left: 8px;
	font-weight: bold;
}

.description {
	text-align: justify;
}

.descriptionContainer {
	margin-top: 20px;
}

.coverSecondContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.yetToBe {
	margin-top: 6px;
}

.subtitlesContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 100%;
	justify-content: space-between;
}

.subtitleListContainer {
	display: flex;
	flex-direction: row;
}

.noSubtitles {
	margin-bottom: 0px;
}

.subtitleBadge {
	border-radius: 6px;
	border: 2px solid #555555;
	color: #555555;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	margin-right: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 46px;
	user-select: none;
}

.subtitleBadge.active {
	border: 2px solid #eeeeee;
	color: #eeeeee;
}

.subtitleBadge.noMargin {
	margin-right: 0px;
}

.dropzone {
}

.dialogContainer {
	opacity: 1;
	transition: all ease 0.2s;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000dd;
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hiddenDialog {
	opacity: 0;
	visibility: hidden;
}

.dialogContainer .dialog {
	background-color: #21252b;
	margin: 16px;
	padding: 16px;
	border-radius: 6px;
}

.dialogContainer .dialog input {
	max-width: 100%;
	margin: 0;
	margin-bottom: 16px;
}

.dialogButtonContainer {
	display: flex;
	flex-direction: row-reverse;
}
