.videoContainer {
	width: 100%;
	height: 100vh;
	display: flex;

	justify-content: center;
	/* align-items: center; */
	z-index: 1001;

}

.video {
	height: 100%;
	width: 100%;
}

.controlsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	justify-content: center;
	margin-top: 16px;
}

.controlsContainer .playPause {
	border: 2px solid #eeeeee;
	border-radius: 50%;
}

.controlsContainer .progress {
	width: calc(100% - 32px);
	margin: 16px;
}