body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#21252b, #000000);
	color: #eeeeee;
	min-height: 100vh;
}

h1 {
	font-size: 45px;
	font-weight: bold;
	/* margin-bottom: 20px; */
	margin-top: 6px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

h2 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 6px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

a {
	color: #eeeeee;
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #21252b;
	z-index: 1000;
	box-shadow: 6px;
	height: 68px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuInner {
}

.content {
	margin-top: 68px;
}

a:hover {
	color: #eeeeee;
}

.back {
	font-size: 20px;
}

input {
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	border: none;
	margin: 14px;
	font-size: 25px;
	border-bottom: solid 1px #cccccc;
	width: 100%;
	color: #eeeeee;
	padding: 6px;
}

@keyframes loaderAnimation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loaderContainer {
	margin-top: 68px;
	width: 100%;
	height: calc(100vh - 68px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	height: 68px;
	width: 68px;
	border: 3px solid #eeeeee;
	border-color: #eeeeee transparent transparent transparent;
	border-radius: 50%;
	animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.hidden {
	visibility: hidden;
}

button {
	background-color: #eeeeee;
	color: #21252b;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	padding: 6px 12px;
	cursor: pointer;
	outline: none;
}

button.noBackground {
	background-color: transparent;
	color: #eeeeee;
}

button:disabled {
	background-color: #666666;
}

button:focus {
	outline: none;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #555;
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
